/* Dustin Stephens #0004185190 Sme4Solutions@FullSail.edu */

#Canvas1, #Canvas2, #Canvas3, #Canvas4, #Canvas5, #Canvas6, #Canvas7{
	 	border: dotted 1px black;
		margin: 2px;
		background-color:rgba(6, 43, 116, 0.02);
	 	} 
		